In [1]:
3+2

5

In [2]:
10**2

100

In [3]:
print("fifi")

fifi

In [4]:
print('fifi')

fifi

In [5]:
n=5

In [6]:
print("erald", n, " nyasar")

erald 5  nyasar

In [7]:
print('erald "" nyasar')

erald "" nyasar

# DASAR POLL

In [9]:
#OOP objek dulu baru function

In [10]:
z="saya fifi"

In [12]:
z.capitalize()  #z=objek  capitalize=function

'Saya fifi'

In [14]:
z.upper()  #shift+tab untuk memunculkan deskripsi

'SAYA FIFI'

In [15]:
y=4 #type int

In [16]:
str(y) #type string

'4'

In [17]:
print("Format ke-{}".format(y*100)) #dikasih {} jika functionnya panjang

Format ke-400

In [18]:
buah = ["pisang", "anggur", "semangka", "jeruk"] #type data list

In [19]:
buah

['pisang', 'anggur', 'semangka', 'jeruk']

In [20]:
buah.pop() #menghilangkan yang terakhir

'jeruk'

In [21]:
buah

['pisang', 'anggur', 'semangka']

In [22]:
buah.remove("anggur")

In [23]:
buah

['pisang', 'semangka']

In [24]:
buah.insert(1,"durian")

In [25]:
buah

['pisang', 'durian', 'semangka']

In [31]:
for i in buah:
    print(i)

pisang
durian
semangka

In [32]:
#keyword shortcut ketik "h"

In [33]:
jumlah_buah=[1,2,3]

In [34]:
buah

['pisang', 'durian', 'semangka']

In [35]:
len(buah)

3

In [36]:
for i in range(len(buah)):
    print(i)  #menampilkan index dari buah

0
1
2

In [37]:
for e in range(len(buah)):
    print (str(buah[e])+"jumlahnya sebanyak" + str(jumlah_buah[e]))

pisangjumlahnya sebanyak1
durianjumlahnya sebanyak2
semangkajumlahnya sebanyak3

In [41]:
pelanggan = ['Mas Doni', 'Mas Alfan', 'Adam']
for k in range(len(buah)):
    print (str(pelanggan[k]) + " membeli " + str(buah[k]) + " sebanyak " + str(jumlah_buah[k]))

Mas Doni membeli pisang sebanyak 1
Mas Alfan membeli durian sebanyak 2
Adam membeli semangka sebanyak 3

In [42]:
a=1

In [43]:
while a < 10 :
    print(a)
    a=a+1  #while akan merubah objek looping

1
2
3
4
5
6
7
8
9

In [44]:
a

10

In [46]:
pelanggan_kopi = 'Mas doni'

In [47]:
kopi =['Kapal Api', 'Torabica', 'Nescafe', 'Kopi Luwak']

In [69]:
jumlah = 0

In [70]:
while jumlah < len(kopi) :
    print (str(pelanggan_kopi) + " membeli " + str(kopi[jumlah]) )
    jumlah=jumlah+1

Mas doni membeli Kapal Api
Mas doni membeli Torabica
Mas doni membeli Nescafe
Mas doni membeli Kopi Luwak

In [71]:
jumlah

4

In [73]:
#while ketika ada syarat 
#for ketika perulangannya sudah pasti (sampai akhir)

In [74]:
for b in kopi:
    print(pelanggan_kopi + " membeli "+ b)

Mas doni membeli Kapal Api
Mas doni membeli Torabica
Mas doni membeli Nescafe
Mas doni membeli Kopi Luwak

In [75]:
x= 5

In [77]:
if x % 2 == 1:
    print (str(x) + " bilangan ganjil")
else :
    print (str(x) + "bilangan genap")

5 bilangan ganjil

In [79]:
y=8
if y % 2 == 1:
    print (str(y) + " bilangan ganjil")
else :
    print (str(y) + " bilangan genap")

8 bilangan genap

In [82]:
z=-1000
if z < 50:
    print ("E")
elif z == 50:
    print ("D")
else:
    print("C")

E

In [83]:
def nilaimu(amount):
    print (amount)

In [85]:
x ="51"
nilaimu(x)

51

In [86]:
a=51
nilaimu(a)

51

In [87]:
def kurangi (amount):
    amount = amount -50
    return amount

In [88]:
kurangi(a)

1

In [89]:
amount =100

In [90]:
def kurangi(x):
    global amount
    x= x-amount
    return (x)

In [92]:
kurangi(150)

50

In [93]:
a=1

In [95]:
if a = 1:
    print ("satu")
else : 
    print ("dua")

SyntaxError: invalid syntax (<ipython-input-95-bccc4cb64d09>, line 1)

# Tuple

In [103]:
tupel = ("fifi", "fika", "via")

In [104]:
list = ["fifi", "fika", "via"]

In [105]:
list[0]

'fifi'

In [106]:
list[0] = "bu farida"

In [107]:
list

['bu farida', 'fika', 'via']

In [108]:
tupel(1)

TypeError: 'tuple' object is not callable

# Dictionary

In [97]:
kamus = {"Apel":1, "Durian":2, "Jeruk":3}

In [98]:
kamus['Apel']

1

In [99]:
Kamus_2 = {"apel":1, "durian" : 1, "manggis": 3}

In [100]:
Kamus_2['durian']

1

In [101]:
kamus_3 = {"apel":1, "durian":2, "manggis":3, "durian":5}

In [102]:
kamus_3['durian']

5

In [115]:
angka = {1:"satu", 2:"dua"}
def bilangan(angka):
    print (angka)

In [117]:
angka(1)

TypeError: 'int' object is not callable

In [6]:
def munculkan(bilangan) :
    if bilangan == 1:
        print ("satu")
    elif bilangan == 2:
        print ("dua")
    elif bilangan == 3:
        print ("tiga")
    elif bilangan == 4:
        print ("empat")
    elif bilangan == 5:
        print ("lima")  
    elif bilangan == 6:
        print ("enam")
    elif bilangan == 7:
        print ("tujuh")
    elif bilangan == 8:
        print ("delapan")
    elif bilangan == 9:
        print ("sembilan")
    elif bilangan == 10:
        print ("sepuluh")
    else:
        print("diatas sepuluh")

In [7]:
munculkan(5)

lima

In [8]:
munculkan(11)

diatas sepuluh

In [9]:
angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
bilangan = ["satu", "dua", "tiga", "empat", "lima", "enam", "tujuh", "delapan", "sembilan", "sepuluh"]

In [10]:
munculkan(10)

sepuluh

In [18]:
satuan = [ "dua", "tiga", "empat", "lima", "enam", "tujuh", "delapan", "sembilan"]
def munculkan(bilangan) :
    if bilangan == 1:
        print ("satu")
    elif bilangan == 2:
        print ("dua")
    elif bilangan == 3:
        print ("tiga")
    elif bilangan == 4:
        print ("empat")
    elif bilangan == 5:
        print ("lima")  
    elif bilangan == 6:
        print ("enam")
    elif bilangan == 7:
        print ("tujuh")
    elif bilangan == 8:
        print ("delapan")
    elif bilangan == 9:
        print ("sembilan")
    elif bilangan == 10:
        print ("sepuluh")
    elif bilangan == 11:
        print ("sebelas")
    else:
        while 11 < bilangan < 20 :
            print (str(satuan) + " belas " )
            bilangan=bilangan+1

In [19]:
munculkan(12)

['dua', 'tiga', 'empat', 'lima', 'enam', 'tujuh', 'delapan', 'sembilan'] belas
['dua', 'tiga', 'empat', 'lima', 'enam', 'tujuh', 'delapan', 'sembilan'] belas
['dua', 'tiga', 'empat', 'lima', 'enam', 'tujuh', 'delapan', 'sembilan'] belas
['dua', 'tiga', 'empat', 'lima', 'enam', 'tujuh', 'delapan', 'sembilan'] belas
['dua', 'tiga', 'empat', 'lima', 'enam', 'tujuh', 'delapan', 'sembilan'] belas
['dua', 'tiga', 'empat', 'lima', 'enam', 'tujuh', 'delapan', 'sembilan'] belas
['dua', 'tiga', 'empat', 'lima', 'enam', 'tujuh', 'delapan', 'sembilan'] belas
['dua', 'tiga', 'empat', 'lima', 'enam', 'tujuh', 'delapan', 'sembilan'] belas

In [22]:
satuan = ["satu", "dua", "tiga", "empat", "lima", "enam", "tujuh", "delapan", "sembilan", "sepuluh", "sebelas"]
def munculkan(bilangan) :
    if bilangan == 1:
        print (satuan[0])
    elif bilangan == 2:
        print (satuan[1])
    elif bilangan == 3:
        print (satuan[2])
    elif bilangan == 4:
        print (satuan[3])
    elif bilangan == 5:
        print (satuan[4])  
    elif bilangan == 6:
        print (satuan[5])
    elif bilangan == 7:
        print (satuan[6])
    elif bilangan == 8:
        print (satuan[7])
    elif bilangan == 9:
        print (satuan[8])
    elif bilangan == 10:
        print (satuan[9])
    elif bilangan == 11:
        print (satuan[10])
    elif 11 < bilangan < 20:
        for d in range(len(satuan)) :
            d = d - 11
            print (str(satuan[d]) + " belas " )
            return d
    elif 20 < bilangan < 30 :
        for e in range(len(satuan)):
            print(satuan[1] + " puluh " + str(satuan[e]))
    elif 30 < bilangan < 40 :
        for f in range(len(satuan)):
            print(satuan[2] + " puluh " + str(satuan[f]))
    elif 40 < bilangan < 50 :
        for g in range(len(satuan)):
            print (satuan[3] + " puluh " + str(satuan[g]))
    elif 50 < bilangan < 60 :
        for h in range(len(satuan)):
            print (satuan[4] + " puluh " + str(satuan[h]))
    elif 60 < bilangan < 70 :
        for i in range(len(satuan)):
            print (satuan[5] + " puluh " + str(satuan[i]))
    elif 70 < bilangan < 80 :
        for j in range(len(satuan)):
            print (satuan[6] + " puluh " + str(satuan[j]))
    elif 80 < bilangan < 90 :
        for k in range(len(satuan)):
            print (satuan[7] + " puluh " + str(satuan[k]))
    elif 90 < bilangan < 100 :
        for l in range(len(satuan)):
            print (satuan[8] + " puluh " + str(satuan[l]))
    elif bilangan == 20:
        print (satuan[1] + " puluh")
    elif bilangan == 30:
        print (satuan[2] + " puluh ")
    elif bilangan == 40:
        print (satuan[3] + " puluh ")
    elif bilangan == 50:
        print (satuan[4] + " puluh ")  
    elif bilangan == 60:
        print (satuan[5] + " puluh ")
    elif bilangan == 70:
        print (satuan[6] + " puluh ")
    elif bilangan == 80:
        print (satuan[7] + " puluh ")
    elif bilangan == 90:
        print (satuan[8] + " puluh")
    else:
        print (" diatas seratus ")
    return (bilangan)

In [23]:
munculkan (15)

satu belas

-11

In [90]:
satuan[2]

'tiga'

In [8]:

for d in range(len(satuan)) :
    d-10
    print ( satuan[d] + " belas " )

IndentationError: expected an indented block (<ipython-input-8-0c0bc17344e0>, line 2)

In [20]:
def puluhan (angka):
    angka = angka - 11
    print (str(satuan[angka]) + " belas " )
    return angka

In [21]:
puluhan(15)

lima belas

4

In [24]:
d

10

In [1]:
satuan = ["satu", "dua", "tiga", "empat", "lima", "enam", "tujuh", "delapan", "sembilan", "sepuluh", "sebelas"]
def munculkan(bilangan) :
    if bilangan == 1:
        return (satuan[0])
    elif bilangan == 2:
        return (satuan[1])
    elif bilangan == 3:
        return (satuan[2])
    elif bilangan == 4:
        return (satuan[3])
    elif bilangan == 5:
        return (satuan[4])  
    elif bilangan == 6:
        return (satuan[5])
    elif bilangan == 7:
        return (satuan[6])
    elif bilangan == 8:
        return (satuan[7])
    elif bilangan == 9:
        return (satuan[8])
    elif bilangan == 10:
        return (satuan[9])
    elif bilangan == 11:
        return (satuan[10])
    elif 11 < bilangan < 20:
        bilangan = bilangan - 11
        return (str(satuan[bilangan]) + " belas" )
    elif 20 < bilangan < 30 :
        bilangan = bilangan - 21
        return (satuan[1] + " puluh " + str(satuan[bilangan]))
    elif 30 < bilangan < 40 :
        bilangan = bilangan - 31
        return (satuan[2] + " puluh " + str(satuan[bilangan]))
    elif 40 < bilangan < 50 :
        bilangan = bilangan - 41
        return (satuan[3] + " puluh " + str(satuan[bilangan]))
    elif 50 < bilangan < 60 :
        bilangan = bilangan - 51
        return (satuan[4] + " puluh " + str(satuan[bilangan]))
    elif 60 < bilangan < 70 :
        bilangan = bilangan - 61
        return (satuan[5] + " puluh " + str(satuan[bilangan]))
    elif 70 < bilangan < 80 :
        bilangan = bilangan - 71
        return (satuan[6] + " puluh " + str(satuan[bilangan]))
    elif 80 < bilangan < 90 :
        bilangan = bilangan - 81
        return (satuan[7] + " puluh " + str(satuan[bilangan]))
    elif 90 < bilangan < 100 :
        bilangan = bilangan - 91
        return (satuan[8] + " puluh " + str(satuan[bilangan]))
    elif bilangan == 20:
        return (satuan[1] + " puluh")
    elif bilangan == 30:
        return (satuan[2] + " puluh")
    elif bilangan == 40:
        return (satuan[3] + " puluh")
    elif bilangan == 50:
        return (satuan[4] + " puluh")  
    elif bilangan == 60:
        return (satuan[5] + " puluh")
    elif bilangan == 70:
        return (satuan[6] + " puluh")
    elif bilangan == 80:
        return (satuan[7] + " puluh")
    elif bilangan == 90:
        return (satuan[8] + " puluh")
    elif bilangan == 100:
        return ("alhamdulillah akhirnya seratus")
    else:
        return (" diatas seratus")

In [7]:
munculkan(15)

'lima belas'